.tittle{
	font-size: 64px;
	font-weight: 600;
	line-height: 80px;
	letter-spacing: -0.02em;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	background-color: #12182900;
	color: #EBEEF5;
	
}